!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Call for Papers | wroclove.rb 2019
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{href: "https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700", rel: "stylesheet", type: "text/css"}/
  %body
    .container.container-wide
      .masthead
        = render "main/nav"
      %hr/
      = render"main/alerts"
      = yield
      = render "main/footer"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24474861-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
