!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "Call for Papers | wroclove.rb #{conference_year}"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render partial: 'layouts/meta'

    %link{href: "https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700", rel: "stylesheet", type: "text/css"}/
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=294933543947037";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24474861-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      // Google +1
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      // Twitter
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    .container.container-narrow
      .masthead
        = render "main/nav"
        %h3.muted= "wroclove.rb #{conference_year} Call For Papers"
        %p
          Three day, single track, community run conference in #{link_to 'Wrocław, Poland', 'https://en.wikipedia.org/wiki/Wroc%C5%82aw'} happening on
          = succeed "." do
            %strong= conference_dates

          = link_to 'main conference site', 'https://wrocloverb.com'
          \.
      %hr/
      = render"main/alerts"
      .jumbotron{ style: "background: none" }
        %h1 Show us what you've got
        %p.lead
          Submit your proposal and impress us. Be creative!
          %br/
          And hurry up, call for papers
          %strong= "ends on #{cfp_end_date}"
        = yield
        .socialmedia
          .wrapper
            .fb-like{"data-href" => "https://wrocloverb.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
          .wrapper
            %a.twitter-share-button{"data-related" => "wrocloverb", "data-text" => "wroclove.rb call for papers ends on #{cfp_end_date}. Submit yours now!", "data-url" => "https://wrocloverb.com", "data-via" => "wrocloverb", href: "https://twitter.com/share"} Tweet
      = render "main/footer"
